<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="/css/bootstrap-social.css" th:href="@{/css/bootstrap-social.css}">
	<title>Pictgram</title>
</head>

<body>
	<div th:if="${hasMessage}" class="alert alert-dismissible fade show" th:classappend="${class}" role='alert'>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button><span
			th:text="${message}"></span>
	</div>
	<nav layout:replace="~{layouts/common :: nav}"></nav>
	<div layout:fragment="contents"></div>
	<footer class="footer" th:if="${hasFooter}">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<div
									style="border:1px solid #95a5a6;border-radius:.75rem;background-color:#FFFFFF;width:280px;margin:0px;padding:5px;text-align:center;overflow:hidden;">
									<table>
										<tr>
											<td style="width:128px"><a
													href="https://hb.afl.rakuten.co.jp/ichiba/50e5c74b.debf3bcf.50e5c74c.047588cc/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fhmvjapan%2F13402591%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
													target="_blank" rel="nofollow sponsored noopener"
													style="word-wrap:break-word;"><img
														src="https://hbb.afl.rakuten.co.jp/hgb/50e5c74b.debf3bcf.50e5c74c.047588cc/?me_id=1251035&item_id=22936881&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fhmvjapan%2Fcabinet%2Fa34%2F04000%2F13402591.jpg%3F_ex%3D128x128&s=128x128&t=picttext"
														border="0" style="margin:2px"
														alt="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"
														title="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"></a>
											</td>
											<td style="vertical-align:top;width:136px;display: block;">
												<p
													style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word">
													<a href="https://hb.afl.rakuten.co.jp/ichiba/50e5c74b.debf3bcf.50e5c74c.047588cc/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fhmvjapan%2F13402591%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
														target="_blank" rel="nofollow sponsored noopener"
														style="word-wrap:break-word;">Thisコミュニケーション 8 ジャンプコミックス / 六内円栄
														【コミック】</a><br><span>価格：594円（税込、送料別)</span> <span
														style="color:#BBB">(2026/2/11時点)</span></p>
											</td>
										</tr>
									</table>
								</div><br>
								<p
									style="color:#000000;font-size:12px;line-height:1.4em;margin:5px;word-wrap:break-word">
								</p>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-4">
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<div
									style="border:1px solid #95a5a6;border-radius:.75rem;background-color:#FFFFFF;width:280px;margin:0px;padding:5px;text-align:center;overflow:hidden;">
									<table>
										<tr>
											<td style="width:128px"><a
													href="https://hb.afl.rakuten.co.jp/ichiba/50e5bc1d.9fd65f51.50e5bc1e.7aad8e15/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fbook%2F17873350%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
													target="_blank" rel="nofollow sponsored noopener"
													style="word-wrap:break-word;"><img
														src="https://hbb.afl.rakuten.co.jp/hgb/50e5bc1d.9fd65f51.50e5bc1e.7aad8e15/?me_id=1213310&item_id=21267106&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fbook%2Fcabinet%2F7220%2F9784107727220_1_2.jpg%3F_ex%3D128x128&s=128x128&t=picttext"
														border="0" style="margin:2px"
														alt="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"
														title="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"></a>
											</td>
											<td style="vertical-align:top;width:136px;display: block;">
												<p
													style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word">
													<a href="https://hb.afl.rakuten.co.jp/ichiba/50e5bc1d.9fd65f51.50e5bc1e.7aad8e15/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fbook%2F17873350%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
														target="_blank" rel="nofollow sponsored noopener"
														style="word-wrap:break-word;">Artiste 10 （バンチコミックス） [ さもえど 太郎
														]</a><br><span>価格：814円（税込、送料無料)</span> <span
														style="color:#BBB">(2026/2/11時点)</span></p>
											</td>
										</tr>
									</table>
								</div><br>
								<p
									style="color:#000000;font-size:12px;line-height:1.4em;margin:5px;word-wrap:break-word">
								</p>
							</td>
						</tr>
					</table>


				</div>
				<div class="col-md-4">
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<div
									style="border:1px solid #95a5a6;border-radius:.75rem;background-color:#FFFFFF;width:280px;margin:0px;padding:5px;text-align:center;overflow:hidden;">
									<table>
										<tr>
											<td style="width:128px"><a
													href="https://hb.afl.rakuten.co.jp/ichiba/50e5bc1d.9fd65f51.50e5bc1e.7aad8e15/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fbook%2F18146410%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
													target="_blank" rel="nofollow sponsored noopener"
													style="word-wrap:break-word;"><img
														src="https://hbb.afl.rakuten.co.jp/hgb/50e5bc1d.9fd65f51.50e5bc1e.7aad8e15/?me_id=1213310&item_id=21532406&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fbook%2Fcabinet%2F8128%2F9784107728128_1_7.jpg%3F_ex%3D128x128&s=128x128&t=picttext"
														border="0" style="margin:2px"
														alt="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"
														title="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"></a>
											</td>
											<td style="vertical-align:top;width:136px;display: block;">
												<p
													style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word">
													<a href="https://hb.afl.rakuten.co.jp/ichiba/50e5bc1d.9fd65f51.50e5bc1e.7aad8e15/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fbook%2F18146410%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIxMjh4MTI4IiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
														target="_blank" rel="nofollow sponsored noopener"
														style="word-wrap:break-word;">魔法医レクスの変態カルテ 3 （バンチコミックス） [ 元三 大介
														]</a><br><span>価格：770円（税込、送料無料)</span> <span
														style="color:#BBB">(2026/2/11時点)</span></p>
											</td>
										</tr>
									</table>
								</div><br>
								<p
									style="color:#000000;font-size:12px;line-height:1.4em;margin:5px;word-wrap:break-word">
								</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/scripts/method-convert.js" th:src="@{/scripts/method-convert.js}"></script>
	<script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
	<script>
		window.OneSignalDeferred = window.OneSignalDeferred || [];
		OneSignalDeferred.push(async function (OneSignal) {
			await OneSignal.init({
				appId: "882b724a-a86a-4965-b86e-1c6fc9ca82e7",
			});
		});
	</script>

	<script>
		$(function () {
			convertMethod('.convert');
			$(".alert").fadeOut(5000);
		});
	</script>
</body>

</html>