spring:
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  servlet:
   multipart:
     max-file-size: 20MB
     max-request-size: 20MB
  jpa:
   database: POSTGRESQL 
  datasource:
      driver-class-name: org.postgresql.Driver
      url: jdbc:postgresql://localhost:5432/pictgram
      username: ${PSQL_USER}
      password: ${PSQL_PASSWORD}
  mail:
   default-encoding: UTF-8
   protocol: smtp
   host: ${SPRING_MAIL_HOST}
   port: ${SPRING_MAIL_PORT}
   username: ${SPRING_MAIL_USERNAME}
   password: ${SPRING_MAIL_PASSWORD}
   properties: 
     mail:
       smtp:
         auth: true
         starttls:
           enable: true
  thymeleaf:
   check-template-location: false
image:
  local: true
onesignal:
  id: ${ONESIGNAL_ID}
googlemap:
  key: ${GOOGLEMAP_KEY}